<table class="pure-table pure-table-horizontal">
  <tbody>
    <tr>
      <td><strong>Country:</strong></td>
      <td><%= @federal_state.country %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @federal_state.name %></td>
    </tr>
  </tbody>
</table>
