<div class="footer">
  <div class="pure-menu pure-menu-horizontal pure-menu-open">
    <ul>
      <li><a href="http://amooma.de/">AMOOMA GmbH</a></li>
      <li><a href="https://github.com/wintermeyer/www.mehr-schulferien.de/">GitHub Repository</a></li>
    </ul>
  </div>
</div>
